body{
    background-color: #999999;
    margin:0 auto;
    overflow: hidden;
}
#affichage{
    text-align: center;
}
#myForm{
    text-align: center;
}

#acc{
    text-align: center;
}
